/* GENERAL */
.overview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overview-container h3 {
  margin: 8px;
  padding: 0;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 65px;
  -webkit-overflow-scrolling: touch;
}


/* TOP BANNER */
.top-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* flex-shrink: 0; */
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.top-banner h2 {
  margin: 0px;
  margin-top: 20px;
  font-size: 1.5rem;
  /* text-align: center; */
}

.top-banner p {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  /* text-align: center; */
  color: #666;
}


/* DATE INSIDE TOP BANNER */
::ng-deep .date-display .p-datepicker-input-icon-container {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .date-display input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  /* text-align: center !important; */
  padding: 0px !important;
  width: 100% !important;
}

::ng-deep .p-inputtext{
  color: var(--secondary-text-color) !important;
  font-size: 1rem !important;
}

.meal-items {
  margin-top: 1rem;
}
