<div class="overview-container">
  <div class="top-banner">
    <h2>Good Morning!</h2>
    <p-datepicker [(ngModel)]="date" dateFormat="DD dd M yy" class="date-display"/>
    <!-- </div> -->
  </div>


  <div class="scrollable-content">
    <h1>Overview</h1>
    <p>Main overview page (daily summary)</p>
    <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  <div class="placeholder-content">
    <p>Coming soon:</p>
    <ul>
      <li>Add new food entries</li>
      <li>View daily calorie intake</li>
      <li>Edit or delete entries</li>
    </ul>
  </div>
  </div>
</div>
