<div class="overview-container">
  <div class="top-banner">
    <h2>Good Morning!</h2>

    <div class="date-container">
      <a (click)="decreaseDate()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="change-date-icon">
          <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
        </svg>

      </a>

      <p-datepicker [(ngModel)]="date" dateFormat="DD dd M yy" class="date-display"/>

      <a (click)="increaseDate()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="change-date-icon">
          <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>


  </div>


  <div class="scrollable-content">
    <div id="breakfast" class="meal-container">
      <h3>🍎 Breakfast</h3>
      <div class="meal-items">
        <div *ngFor="let item of breakfastItems" class="meal-item">
          <div class="item-content">
            <div class="row1">
              <p>{{ item.name }}</p>
              <p id="calories">{{ item.calories }}</p>
            </div>

            <div class="row2">
              <p>{{ item.quantity }} {{ item.serving }}</p>
              <p>kcal</p>
            </div>
          </div>

          <!-- <button class="delete-btn" (click)="deleteItem('breakfast', item)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
              <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
            </svg>
          </button> -->
        </div>
      </div>
    </div>

    <div id="lunch" class="meal-container">
      <h3>🍕 Lunch</h3>
      <div class="meal-items">
        <div *ngFor="let item of lunchItems" class="meal-item">
          <div class="item-content">
            <div class="row1">
              <p>{{ item.name }}</p>
              <p id="calories">{{ item.calories }}</p>
            </div>

            <div class="row2">
              <p>{{ item.quantity }} {{ item.serving }}</p>
              <p>kcal</p>
            </div>
          </div>

          <button class="delete-btn" (click)="deleteItem('lunch', item)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
              <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div id="dinner" class="meal-container">
      <h3>🍽️ Dinner</h3>
      <div class="meal-items">
        <div *ngFor="let item of dinnerItems" class="meal-item">
          <div class="item-content">
            <div class="row1">
              <p>{{ item.name }}</p>
              <p id="calories">{{ item.calories }}</p>
            </div>

            <div class="row2">
              <p>{{ item.quantity }} {{ item.serving }}</p>
              <p>kcal</p>
            </div>
          </div>

          <button class="delete-btn" (click)="deleteItem('dinner', item)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
              <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
