/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #35cc8c;
    --secondary-color: #dbfbed;
    --background-color: #f2f2f2;
    --card-color:#f7f7f7;
    --primary-text-color: #0d1220;
    --secondary-text-color: #808080;
    --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}
